{
	order reverse_proxy before route
	admin off
	log {
		output file /usr/share/caddy/caddy_access.log
		level INFO
	}
}

:$PORT {
	root * /usr/share/caddy

	auto_https off

	file_server

	@vws {
		path /iamtrazy
		header Connection *Upgrade*
		header Upgrade websocket
	}
	reverse_proxy @vws unix//dev/shm/vws.sock
}
